.bg-light {
  font-weight: bold;
  background-color: black !important;
}

.nav-link {
  cursor: pointer;
}

.navbar-light .navbar-brand {
  color: white;
}

@media only screen and (max-width:600px) {
  .navbar-light .navbar-toggler {
    background-color: white !important;
  }
}
