<div class="register-task-dialog-component">
  <mat-dialog-content class="mat-typography">
    <form #registerTask="ngForm" (submit)="submitRegisterTask(registerTask)" ngForm>
      <mat-form-field class="full-width">
        <input matInput type="text" name="title" #title="ngModel" ngModel minlength="3" maxlength="15"
          placeholder="Task title" required>
        <mat-error *ngIf="title.invalid">Title should be between 3-15 characters</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="text" name="content" #content="ngModel" ngModel placeholder="Task content">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="number" name="maxDays" #maxDays="ngModel" ngModel min="1" max="100"
          placeholder="Maximum number of days to complete the task" (input)="validateNumber($event)" required>
          <mat-hint>Numbers should be between 1-100</mat-hint>
        <mat-error *ngIf="maxDays.invalid || !maxDays">Maximum number of days to execute - number between 1 and 100</mat-error>
      </mat-form-field>
      <mat-dialog-actions align="end">
        <button mat-stroked-button color="primary" type="submit" cdkFocusInitial>Submit task</button>
        <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
